body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.math{
  background-color:cyan;
}
.math h1{
  text-align: center;
  color: blue;
}
.mylist{
  background-color: brown;
}
.mylist li{
  color: gold;

}
h1{
  color:white;
  font: 1.4em sans-serif;
  font-style: italic;
}
